.div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 0; /* Add some margin to separate from the table */
}

.button3 {
    background-color: rgb(210, 208, 219);
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    position: absolute;
    right: 0;
    margin-right: 50px;
}

.button3:hover{
    filter: invert(1);
    transition: 0.3s;
}

.special-h1 {
    font-size: 50px;
    margin: 0;
    flex: 1; /* Allow the h1 to take up available space */
    text-align: center; /* Center the text within the h1 */
}