.special-div{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-family:'Courier New', Courier, monospace;
}


.button2{
    background-color: rgb(210, 208, 219);
    margin-left: 12px;
    margin-right: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}

.button2:hover{
    background-color: rgb(210, 208, 219);
    margin-left: 12px;
    margin-right: 10px;
    margin-top: 10px;
    border: none;
    filter: invert(1);
    transition: 0.3s;
}

.special-h1{
    margin: 0 auto;
    font-size: 50px;
}

.agenda th{
    color: grey;
    font-family:'Courier New', Courier, monospace;
}

.table-shadow{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1 );
    margin-top: 25px;
}

.agenda{
    margin-top: 10px;
    z-index: 30;
    
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8px;
    
}

.clickMe{
    cursor: pointer;
}

.highlight{
    background-color: rgb(112, 141, 128) !important;
    color: white !important;
}

.button{
    background-color: rgb(255, 255, 255);
    border-color: rgba(0, 255, 255, 0);
    border-radius: 5px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
}

.button:hover{
    filter: invert(1);
    transition: 0.3s;
}

.pretty{

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1 );
}

.finalTest{
    position: relative;
    background-color: rgb(153, 153, 200);
    color: white;
    align-items: center;
    justify-content: space-between;

}

.finalTest:hover{
    border: 2px solid rgb(2, 46, 18);
    transition: 0.5s;
    cursor: pointer;

}

.finalTest2{
    position: absolute;
    background-color: rgb(153, 186, 155);
    color: white;
    align-items: center;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    border-radius: 5px;
    left: 0;
    right: 0;
    z-index: 20;
    border: 2px solid rgb(2, 46, 18);
}

.table-custom tbody tr {
    height: 60px; /* Adjust the height as needed */
    position: relative; 
  }