.MainDiv4 {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Align children to the start of the container */
    align-items: center;
    justify-content: center;
    height: 36vh;
    gap: 10px; /* Space between buttons */
  }
  
  .MainDiv4 button {
    width: 250px;
    height: 50px;
    padding: 10px 20px; /* Add padding inside each button */
    margin: 0; /* Ensure no additional margins are applied */
  }

  button:hover{
    background-color: rgb(112, 141, 128);
    color: white;
    transition: 0.3s;

  }